<head>
    <meta charset="utf-8" />
    <title>Metronic | FlowState2 Prototype</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="home" id="ApplicationPath" href="~/" />
    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />
    @Styles.Render("~/Content/Stylez")
    <link rel="stylesheet" href="@Url.Content("~/Content/assets/layouts/layout/css/themes/darkblue.min.css")" id="style_color" type="text/css" />
    @Scripts.Render("~/Scripts/Libs")
    @Scripts.Render("~/Scripts/MetronicSiteScripts")
</head>

