<div class="page-footer">
    <div class="page-footer-inner">
        2016 &copy; FlowState2 Metronic Prototype By
        <a target="_blank" href="https://github.com/jsbUSMC">jsbUSMC</a> &nbsp;|&nbsp;
        <a href="http://tech.rochester.edu/services/data-centers/" title="Enterprise Data Centers, University IT, University of Rochester" target="_blank">
            Enterprise Data Centers, University of Rochester
        </a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
