body {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #000;
  -ms-overflow-style: scrollbar;
}
.ui-front {
  z-index: 1100;
}
.slick-cell > a {
  color: #0000be;
}
.main-sidebar a:hover,
.main-header a:hover,
.main-sidebar a:active,
.main-header a:active,
.main-sidebar a:focus,
.main-header a:focus {
  text-decoration: none;
}
.sidebar-menu > li {
  font-size: 14px;
}
.sidebar-menu .treeview-menu > li > a {
  font-size: 13px;
}
.main-footer {
  padding: 3px 15px;
}
.sidebar-menu li.expanded > .treeview-menu {
  display: block;
}
.treeview-menu > li > a > i {
  width: 20px;
}
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="search"],
input[type="url"],
input[type="password"],
textarea {
  padding: 3px 6px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.sidebar-form input[type="text"] {
  padding: 6px 12px;
  border-color: transparent;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
  opacity: 1;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
  opacity: 1;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
section.content > .s-DataGrid {
  padding: 12px 20px 15px;
  border-radius: 2px;
  background: #fff;
  box-shadow: 0 2px 3px 2px rgba(0, 0, 0, 0.03);
  margin-bottom: 25px;
}
.grid-toolbar {
  margin-bottom: 0px;
}
.s-Dialog .s-DataGrid.editor {
  border: 1px solid #eee;
}
.s-Dialog .s-DataGrid.editor .grid-toolbar {
  background: #f8fafc;
  border-bottom: 1px solid #e7e7e7;
  padding: 5px 4px 5px 4px;
  min-height: 43px;
  margin-bottom: 0;
}
.s-Dialog .tab-pane > .s-DataGrid {
  padding: 0px 8px 4px 8px;
}
.s-Dialog .tab-pane > .s-DialogToolbar {
  padding-top: 0;
  background-color: transparent;
  min-height: initial;
}
.s-BasicProgressDialogContent .status-text {
  height: 1em;
  text-align: center;
  margin-top: 4px;
}
.s-BasicProgressDialogContent .ui-progressbar {
  margin: 12px 2%;
  position: relative;
  height: 26px;
  background-image: none;
  background-color: aliceblue;
  width: 96%;
  margin: 0 2%;
}
.s-BasicProgressDialogContent .progress-label {
  position: absolute;
  left: 45%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #cef;
  color: #245;
  font-size: 14px;
}
.s-MessageDialog {
  min-width: 310px;
}
.reset-box-sizing,
.reset-box-sizing *,
.reset-box-sizing *:before,
.reset-box-sizing *:after {
  -ms-box-sizing: content-box;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.s-Administration-LanguageDialog > .size {
  width: 450px;
}
.s-Administration-LanguageDialog .caption {
  width: 120px;
}
.s-Administration-RoleDialog > .size {
  width: 450px;
}
.s-Administration-RoleDialog .caption {
  width: 120px;
}
.s-Administration-UserDialog > .size {
  width: 650px;
}
.s-Administration-UserDialog .caption {
  width: 150px;
}
.s-TranslationGrid input.custom-text {
  width: 100%;
  height: 23px;
  padding: 0 3px;
}
.s-UserPermissionDialog > .size,
.s-RolePermissionDialog > .size,
.s-UserRoleDialog > .size {
  min-width: 650px;
  width: 650px;
  min-height: 450px;
  height: 450px;
}
.s-UserPermissionDialog .s-DataGrid,
.s-RolePermissionDialog .s-DataGrid,
.s-UserRoleDialog .s-DataGrid {
  height: 100%;
}
.s-UserPermissionDialog .ui-dialog-content,
.s-RolePermissionDialog .ui-dialog-content,
.s-UserRoleDialog .ui-dialog-content {
  padding: 8px;
}
.s-PermissionCheckEditor .check-box {
  background-image: url(../serenity/images/tick-empty.png);
  background-position: center center;
  width: 22px;
  height: 22px;
  margin: 0;
}
.s-PermissionCheckEditor .check-box.checked {
  background-image: url(../serenity/images/tick-green.png);
  background-position: center center;
}
.s-PermissionCheckEditor .check-box.checked.revoke {
  background-image: url(../serenity/images/tick-red.png);
  background-position: center center;
}
.s-PermissionCheckEditor .check-box.partial {
  opacity: 0.8;
}
.s-PermissionCheckEditor .check-box.checked.partial {
  background-image: url(images/tick-green-partial.png);
}
.s-PermissionCheckEditor .check-box.checked.revoke.partial {
  background-image: url(images/tick-red-partial.png);
}
.s-PermissionCheckEditor .effective-permission {
  cursor: default;
  padding-left: 22px;
  background-image: url(../serenity/images/check2.png);
  background-repeat: no-repeat;
  background-position: left center;
}
.s-PermissionCheckEditor .effective-permission.partial {
  background-image: url(../serenity/images/checkbox-null.png);
}
.s-PermissionCheckEditor .effective-permission.deny {
  background-image: url(../serenity/images/slash.png);
}
.s-BasicSamples-ChartInDialog svg {
  width: 100%;
  height: 90%;
}
.s-BasicSamples-ChartInDialog .ui-dialog-content {
  overflow: hidden;
}
.s-BasicSamples-ChartInDialog > .size {
  min-width: 700px;
  width: 700px;
  min-height: 400px;
  height: 400px;
}
.s-BasicSamples-ResponsiveDialog > .size {
  width: 750px;
  height: 550px;
}
.s-BasicSamples-ResponsiveDialog .caption {
  width: 120px;
}
.s-BasicSamples-MultiColumnResponsiveDialog > .size {
  width: 850px;
  height: 650px;
}
.s-BasicSamples-MultiColumnResponsiveDialog .caption {
  width: 130px;
}
@media (min-width: 768px) {
  .s-BasicSamples-MultiColumnResponsiveDialog .field.OrderDate,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.RequiredDate,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipName,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipAddress,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipCity,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipRegion,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipPostalCode,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipCountry {
    flex: auto;
    min-width: 50%;
  }
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShippedDate,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipVia,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.Freight {
    flex: auto;
    min-width: 33%;
  }
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShippedDate .caption,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.ShipVia .caption,
  .s-BasicSamples-MultiColumnResponsiveDialog .field.Freight .caption {
    width: 90px;
  }
}
.s-BasicSamples-CloneableEntityDialog > .size {
  width: 850px;
  height: 500px;
}
.s-BasicSamples-CloneableEntityDialog .caption {
  width: 150px;
}
.s-BasicSamples-LookupFilterByMultipleDialog > .size {
  width: 850px;
  height: 650px;
}
.s-BasicSamples-LookupFilterByMultipleDialog .caption {
  width: 150px;
}
.s-BasicSamples-FilteredLookupInDetailDialog > .size {
  width: 850px;
  height: 550px;
}
.s-BasicSamples-FilteredLookupInDetailDialog .caption {
  width: 150px;
}
.s-BasicSamples-FilteredLookupInDetailDialog .s-PropertyGrid .categories {
  overflow-y: auto;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog > .size {
  min-width: 450px;
  width: 450px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .tab-pane {
  height: auto;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .caption {
  width: 80px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .editor {
  width: 310px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog input.editor[type=checkbox] {
  width: auto;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .s-Form .editor.dateQ {
  width: 286px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 191px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .s-Form .editor.has-inplace-button {
  width: 284px;
}
.s-BasicSamples-FilteredLookupOrderDetailDialog .s-Form .emaildomain {
  width: 125px;
}
.s-BasicSamples-GroupingAndSummariesInGrid .slick-cell input[type=text] {
  text-align: right;
  border-radius: 0;
  width: 100%;
  padding: 0 2px;
  border: 1px solid #e7e7e7;
}
.s-BasicSamples-GroupingAndSummariesInGrid .slick-cell input.dirty {
  background-color: #ffe0e0;
}
.s-BasicSamples-ConditionalFormattingGrid .discontinued .slick-cell,
.s-BasicSamples-ConditionalFormattingGrid .discontinued .slick-cell a {
  color: lightgray;
}
.s-BasicSamples-ConditionalFormattingGrid .out-of-stock .slick-cell,
.s-BasicSamples-ConditionalFormattingGrid .out-of-stock .slick-cell a {
  background-color: #ffaaaa;
  color: red;
}
.s-BasicSamples-ConditionalFormattingGrid .critical-stock {
  background-color: #ffd5c0;
}
.s-BasicSamples-ConditionalFormattingGrid .critical-stock .slick-cell,
.s-BasicSamples-ConditionalFormattingGrid .critical-stock .slick-cell a {
  color: black;
}
.s-BasicSamples-ConditionalFormattingGrid .much-stock .slick-cell,
.s-BasicSamples-ConditionalFormattingGrid .much-stock .slick-cell a {
  font-style: italic;
}
.s-BasicSamples-ConditionalFormattingGrid .high-price .col-unit-price {
  background-color: darkorchid;
  color: #fff;
}
.s-BasicSamples-ConditionalFormattingGrid .medium-price .col-unit-price {
  background-color: yellow;
  color: #000;
}
.s-BasicSamples-ConditionalFormattingGrid .low-price .col-unit-price {
  background-color: green;
  color: #fff;
}
.s-BasicSamples-ReadOnlyDialog > .size {
  width: 650px;
  height: 550px;
}
.s-BasicSamples-ReadOnlyDialog .caption {
  width: 150px;
}
.s-BasicSamples-ProductExcelImportDialog {
  overflow: hidden;
}
.s-BasicSamples-ProductExcelImportDialog .size {
  height: 350px;
}
.s-LoginPanel {
  padding: 30px 20px;
  width: 550px;
  margin: 90px auto auto auto;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  font-weight: 700;
}
.s-LoginPanel .caption {
  width: 180px;
}
.s-LoginPanel .logo {
  margin: 0 auto 20px auto;
  width: 128px;
  height: 128px;
  background: transparent url(images/serenity-logo-w-128.png) no-repeat center center;
}
.s-LoginPanel h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 16px 0 24px;
  color: #f5f27e;
  text-align: center;
  text-shadow: 0 1px 1px #333;
}
.s-LoginPanel .buttons {
  text-align: right;
  padding: 8px 0 4px 0;
  margin-right: 28px;
}
.s-LoginPanel .buttons .btn {
  padding: 8px 24px;
  font-weight: 700;
}
.s-LoginPanel .caption {
  color: #ececec;
  font-weight: 700;
  text-shadow: 0 1px 1px #333;
}
.s-LoginPanel .actions {
  padding-right: 28px;
}
.s-LoginPanel .actions a {
  color: #ececec;
  padding: 2px 2px 2px 2px;
  margin-top: 5px;
  display: block;
  float: right;
  clear: both;
  border-bottom: 1px dashed #999;
  text-shadow: 0 1px 1px #333;
}
.s-LoginPanel .actions a i {
  font-weight: 700;
  margin-right: 4px;
}
.s-LoginPanel .s-Form label.error {
  background-image: url(../serenity/images/cross.png);
  padding: 26px 0 0 22px;
}
.s-LoginPanel .s-Form label.error.checked {
  background-image: none;
}
.s-LoginPanel .s-Form .field {
  padding: 8px;
}
.s-LoginPanel .s-Form input {
  padding: 6px 10px;
  border: none;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
}
.s-LoginPanel .s-Form .caption {
  padding: 6px 10px;
  color: #fff;
}
.s-LoginPanel a {
  color: aqua;
}
@media (max-width: 550px), (max-height: 500px) {
  .s-LoginPanel {
    padding: 16px 4px 16px 4px;
    position: absolute;
    margin: 0;
    width: auto;
    top: 10px;
    left: 10px;
    right: 10px;
  }
}
.s-ChangePasswordPanel {
  width: 550px;
}
.s-ChangePasswordPanel .caption {
  width: 150px;
}
.s-ChangePasswordPanel .editor {
  width: 350px;
}
.s-ChangePasswordPanel input.editor[type=checkbox] {
  width: auto;
}
.s-ChangePasswordPanel .s-Form .editor.dateQ {
  width: 326px;
}
.s-ChangePasswordPanel .s-Form .editor.emailuser {
  width: 170px;
}
.s-ChangePasswordPanel .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 231px;
}
.s-ChangePasswordPanel .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-ChangePasswordPanel .s-Form .editor.has-inplace-button {
  width: 324px;
}
.s-ChangePasswordPanel .s-Form .emaildomain {
  width: 165px;
}
.s-ChangePasswordPanel .buttons {
  text-align: right;
  padding: 8px 48px;
}
.s-ForgotPasswordPanel {
  border: 2px solid #e7e7e7;
  padding: 40px;
  border-radius: 8px;
  width: 650px;
  margin: 60px auto auto auto;
}
.s-ForgotPasswordPanel .caption {
  width: 150px;
}
.s-ForgotPasswordPanel .editor {
  width: 350px;
}
.s-ForgotPasswordPanel input.editor[type=checkbox] {
  width: auto;
}
.s-ForgotPasswordPanel .s-Form .editor.dateQ {
  width: 326px;
}
.s-ForgotPasswordPanel .s-Form .editor.emailuser {
  width: 170px;
}
.s-ForgotPasswordPanel .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 231px;
}
.s-ForgotPasswordPanel .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-ForgotPasswordPanel .s-Form .editor.has-inplace-button {
  width: 324px;
}
.s-ForgotPasswordPanel .s-Form .emaildomain {
  width: 165px;
}
.s-ForgotPasswordPanel .buttons {
  text-align: right;
  padding: 8px 62px;
}
.s-ForgotPasswordPanel p {
  padding: 8px;
  margin: 24px 0;
}
.s-ResetPasswordPanel {
  border: 2px solid #e7e7e7;
  padding: 40px;
  border-radius: 8px;
  width: 650px;
  margin: 60px auto auto auto;
}
.s-ResetPasswordPanel .caption {
  width: 150px;
}
.s-ResetPasswordPanel .editor {
  width: 350px;
}
.s-ResetPasswordPanel input.editor[type=checkbox] {
  width: auto;
}
.s-ResetPasswordPanel .s-Form .editor.dateQ {
  width: 326px;
}
.s-ResetPasswordPanel .s-Form .editor.emailuser {
  width: 170px;
}
.s-ResetPasswordPanel .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 231px;
}
.s-ResetPasswordPanel .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-ResetPasswordPanel .s-Form .editor.has-inplace-button {
  width: 324px;
}
.s-ResetPasswordPanel .s-Form .emaildomain {
  width: 165px;
}
.s-ResetPasswordPanel .buttons {
  text-align: right;
  padding: 8px 62px;
}
.s-SignUpPanel {
  border: 2px solid #e7e7e7;
  padding: 40px;
  border-radius: 8px;
  width: 650px;
  margin: 60px auto auto auto;
}
.s-SignUpPanel .caption {
  width: 150px;
}
.s-SignUpPanel .editor {
  width: 350px;
}
.s-SignUpPanel input.editor[type=checkbox] {
  width: auto;
}
.s-SignUpPanel .s-Form .editor.dateQ {
  width: 326px;
}
.s-SignUpPanel .s-Form .editor.emailuser {
  width: 170px;
}
.s-SignUpPanel .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 231px;
}
.s-SignUpPanel .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-SignUpPanel .s-Form .editor.has-inplace-button {
  width: 324px;
}
.s-SignUpPanel .s-Form .emaildomain {
  width: 165px;
}
.s-SignUpPanel .buttons {
  text-align: right;
  padding: 8px 62px;
}
.s-SignUpPanel p {
  padding: 8px;
  margin: 24px 0;
}
.s-Northwind-ProductDialog > .size {
  width: 650px;
}
.s-Northwind-ProductDialog .caption {
  width: 180px;
}
.s-Northwind-ProductDialog .s-PropertyGrid .categories {
  height: 500px;
}
.s-Northwind-CategoryDialog > .size {
  min-width: 650px;
  width: 650px;
}
.s-Northwind-CategoryDialog .tab-pane {
  height: auto;
}
.s-Northwind-CategoryDialog .caption {
  width: 150px;
}
.s-Northwind-CategoryDialog .editor {
  width: 400px;
}
.s-Northwind-CategoryDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-CategoryDialog .s-Form .editor.dateQ {
  width: 376px;
}
.s-Northwind-CategoryDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-CategoryDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 281px;
}
.s-Northwind-CategoryDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-CategoryDialog .s-Form .editor.has-inplace-button {
  width: 374px;
}
.s-Northwind-CategoryDialog .s-Form .emaildomain {
  width: 215px;
}
.s-Northwind-CategoryDialog .s-PropertyGrid .categories {
  height: 260px;
}
.s-Northwind-CustomerDialog > .size {
  min-width: 850px;
  width: 850px;
  min-height: 580px;
  height: 580px;
}
.s-Northwind-CustomerDialog .ui-dialog-content {
  overflow: hidden;
}
.s-Northwind-CustomerDialog .tab-pane {
  height: auto;
}
.s-Northwind-CustomerDialog .caption {
  width: 150px;
}
.s-Northwind-CustomerDialog .editor {
  width: 600px;
}
.s-Northwind-CustomerDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-CustomerDialog .s-Form .editor.dateQ {
  width: 576px;
}
.s-Northwind-CustomerDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-CustomerDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 481px;
}
.s-Northwind-CustomerDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-CustomerDialog .s-Form .editor.has-inplace-button {
  width: 574px;
}
.s-Northwind-CustomerDialog .s-Form .emaildomain {
  width: 415px;
}
.s-Northwind-CustomerDialog .categories {
  height: 400px;
}
.s-Northwind-CustomerDialog .s-CustomerOrdersGrid > .grid-container {
  height: 296px;
}
.s-Northwind-CustomerDialog .s-NotesEditor {
  height: 100%;
  margin: 6px;
  width: initial !important;
  min-width: 100%;
}
.s-Northwind-CustomerDialog .grid-toolbar {
  -webkit-box-flex: 0;
  -moz-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -moz-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  -ms-flex-positive: 0;
  -ms-flex-negative: 0;
  -ms-flex-preferred-size: auto;
}
.s-Northwind-OrderDialog > .size,
.s-CustomerOrderDialog > .size {
  width: 850px;
}
.s-Northwind-OrderDialog .caption,
.s-CustomerOrderDialog .caption {
  width: 130px;
}
.s-Northwind-OrderDialog .s-PropertyGrid .categories,
.s-CustomerOrderDialog .s-PropertyGrid .categories {
  height: 550px;
}
.s-Northwind-OrderDetailDialog > .size {
  min-width: 450px;
  width: 450px;
}
.s-Northwind-OrderDetailDialog .tab-pane {
  height: auto;
}
.s-Northwind-OrderDetailDialog .caption {
  width: 80px;
}
.s-Northwind-OrderDetailDialog .editor {
  width: 310px;
}
.s-Northwind-OrderDetailDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-OrderDetailDialog .s-Form .editor.dateQ {
  width: 286px;
}
.s-Northwind-OrderDetailDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-OrderDetailDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 191px;
}
.s-Northwind-OrderDetailDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-OrderDetailDialog .s-Form .editor.has-inplace-button {
  width: 284px;
}
.s-Northwind-OrderDetailDialog .s-Form .emaildomain {
  width: 125px;
}
@media (max-width: 445px) {
  .s-Northwind-OrderDetailDialog > .size {
    min-width: 320px;
    width: 320px;
  }
  .s-Northwind-OrderDetailDialog .tab-pane {
    height: auto;
  }
  .s-Northwind-OrderDetailDialog .caption {
    width: 80px;
  }
  .s-Northwind-OrderDetailDialog .editor {
    width: 180px;
  }
  .s-Northwind-OrderDetailDialog input.editor[type=checkbox] {
    width: auto;
  }
  .s-Northwind-OrderDetailDialog .s-Form .editor.dateQ {
    width: 156px;
  }
  .s-Northwind-OrderDetailDialog .s-Form .editor.emailuser {
    width: 170px;
  }
  .s-Northwind-OrderDetailDialog .s-Form .editor.dateQ.s-DateTimeEditor {
    width: 61px;
  }
  .s-Northwind-OrderDetailDialog .s-Form .editor.s-DateTimeEditor.time {
    width: 64px;
    margin-left: 4px;
  }
  .s-Northwind-OrderDetailDialog .s-Form .editor.has-inplace-button {
    width: 154px;
  }
  .s-Northwind-OrderDetailDialog .s-Form .emaildomain {
    width: -5px;
  }
}
.s-Northwind-OrderGrid .s-CustomerEditor {
  min-width: 250px;
  width: 250px;
}
.s-Northwind-ProductGrid .slick-cell input[type=text] {
  text-align: right;
  border-radius: 0;
  width: 100%;
  padding: 0 2px;
  border: 1px solid #e7e7e7;
}
.s-Northwind-ProductGrid .slick-cell .dirty {
  background-color: #ffe0e0;
}
.s-Northwind-RegionDialog > .size {
  min-width: 650px;
  width: 650px;
}
.s-Northwind-RegionDialog .tab-pane {
  height: auto;
}
.s-Northwind-RegionDialog .caption {
  width: 150px;
}
.s-Northwind-RegionDialog .editor {
  width: 400px;
}
.s-Northwind-RegionDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-RegionDialog .s-Form .editor.dateQ {
  width: 376px;
}
.s-Northwind-RegionDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-RegionDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 281px;
}
.s-Northwind-RegionDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-RegionDialog .s-Form .editor.has-inplace-button {
  width: 374px;
}
.s-Northwind-RegionDialog .s-Form .emaildomain {
  width: 215px;
}
.s-Northwind-RegionDialog .s-PropertyGrid .categories {
  height: 260px;
}
.s-Northwind-ShipperDialog > .size {
  min-width: 650px;
  width: 650px;
}
.s-Northwind-ShipperDialog .tab-pane {
  height: auto;
}
.s-Northwind-ShipperDialog .caption {
  width: 150px;
}
.s-Northwind-ShipperDialog .editor {
  width: 400px;
}
.s-Northwind-ShipperDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-ShipperDialog .s-Form .editor.dateQ {
  width: 376px;
}
.s-Northwind-ShipperDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-ShipperDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 281px;
}
.s-Northwind-ShipperDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-ShipperDialog .s-Form .editor.has-inplace-button {
  width: 374px;
}
.s-Northwind-ShipperDialog .s-Form .emaildomain {
  width: 215px;
}
.s-Northwind-ShipperDialog .s-PropertyGrid .categories {
  height: 260px;
}
.s-Northwind-SupplierDialog > .size {
  min-width: 650px;
  width: 650px;
}
.s-Northwind-SupplierDialog .tab-pane {
  height: auto;
}
.s-Northwind-SupplierDialog .caption {
  width: 150px;
}
.s-Northwind-SupplierDialog .editor {
  width: 400px;
}
.s-Northwind-SupplierDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-SupplierDialog .s-Form .editor.dateQ {
  width: 376px;
}
.s-Northwind-SupplierDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-SupplierDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 281px;
}
.s-Northwind-SupplierDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-SupplierDialog .s-Form .editor.has-inplace-button {
  width: 374px;
}
.s-Northwind-SupplierDialog .s-Form .emaildomain {
  width: 215px;
}
.s-Northwind-SupplierDialog .s-PropertyGrid .categories {
  height: 460px;
}
.s-Northwind-TerritoryDialog > .size {
  min-width: 650px;
  width: 650px;
}
.s-Northwind-TerritoryDialog .tab-pane {
  height: auto;
}
.s-Northwind-TerritoryDialog .caption {
  width: 150px;
}
.s-Northwind-TerritoryDialog .editor {
  width: 400px;
}
.s-Northwind-TerritoryDialog input.editor[type=checkbox] {
  width: auto;
}
.s-Northwind-TerritoryDialog .s-Form .editor.dateQ {
  width: 376px;
}
.s-Northwind-TerritoryDialog .s-Form .editor.emailuser {
  width: 170px;
}
.s-Northwind-TerritoryDialog .s-Form .editor.dateQ.s-DateTimeEditor {
  width: 281px;
}
.s-Northwind-TerritoryDialog .s-Form .editor.s-DateTimeEditor.time {
  width: 64px;
  margin-left: 4px;
}
.s-Northwind-TerritoryDialog .s-Form .editor.has-inplace-button {
  width: 374px;
}
.s-Northwind-TerritoryDialog .s-Form .emaildomain {
  width: 215px;
}
.s-Northwind-TerritoryDialog .s-PropertyGrid .categories {
  height: 260px;
}
.employee-symbol {
  padding: 2px 0px 2px 20px;
  background: url(../serenity/images/sprites.png) no-repeat -217px 2px;
}
.employee-symbol.female {
  background-position: -217px -23px;
}
.shipper-symbol {
  padding: 2px 0px 2px 20px;
  background: url(../serenity/images/wheel.png) no-repeat center left;
}
.shipper-symbol.shipper-UnitedPackage {
  background-image: url(../serenity/images/box.png);
}
.shipper-symbol.shipper-SpeedyExpress {
  background-image: url(../serenity/images/clock.png);
}
.freight-symbol {
  padding: 2px 20px 2px 0px;
  background: url(../serenity/images/balance.png) no-repeat center right;
}
.s-NotesEditor {
  border: 1px solid #ccc;
  border-radius: 4px;
}
.s-NotesEditor ul {
  padding: 0;
  min-height: 110px;
  overflow-y: auto;
  list-style: none;
}
.s-NotesEditor li {
  margin: 10px;
  border-radius: 4px;
  border: 1px solid #C3C2C2;
  background-color: #F5E7DC;
  padding: 8px;
  position: relative;
}
.s-NotesEditor .note-text {
  padding-right: 24px;
  display: block;
}
.s-NotesEditor .note-delete {
  background-image: url('../serenity/images/delete2.png');
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  right: 6px;
  top: 6px;
  opacity: 0.4;
}
.s-NotesEditor .note-delete:hover {
  opacity: 1;
}
.s-NotesEditor .note-date {
  margin-top: 6px;
  display: block;
  text-align: right;
  color: #2a4084;
  font-style: italic;
}
.s-NotesEditor .s-Toolbar {
  background-color: #eee;
  padding: 4px;
}
.s-NoteDialog > .size {
  width: 465px;
}
.s-NoteDialog .ui-dialog-content {
  padding-bottom: 10px;
}
